@tailwind base;
@tailwind components;
@tailwind utilities;
/* html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

body {
  font-family: Pretendard, sans-serif;
}

/* 🔥 키오스크 / 모바일 터치 하이라이트 제거 */
* {
  -webkit-tap-highlight-color: transparent;
}

/* 🔥 버튼 기본 포커스/테두리 제거 */
button {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

/* 🔥 포커스 잔상 완전 차단 */
button:focus,
button:focus-visible {
  outline: none;
}

/* 스크롤바 완전 숨기기 */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}
